@import 'variables/background.scss';
@import 'variables/color.scss';
@import 'mixin/font-family.scss';
@import 'mixin/border.scss';
@import 'animaciones/submenus.scss';
@import 'animaciones/banner.scss';

*{
    margin: 0;
    padding: 0;
    
}
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}
::-webkit-scrollbar-thumb {
    background: $relleno_scroll;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover{
    background: $relleno_scroll;
}
::-webkit-scrollbar-track{
    border-radius: 3px;
}
body{
    background: $relleno_body;
    overflow-x: hidden;
}
header{
    @include negrita;
    @include diseño-padre;
    position: fixed;
    top: -5em;
    @include MostrarBanner(headerAnimacion);
    width: 97.7%;
    height: 90px;
    text-align: center;
    padding: .7em .9em;
    background: $relleno_header;
    @media only screen and (max-width: 500px)  {
        position: relative !important;
        top: 0 !important;
        z-index: 10 !important;
        width: 100% !important;
    }
    img{
        object-fit: scale-down;
        top: 4px !important;
        width: 100%;
        height: 90px;
        position: absolute;
        left: -25%;
    }
        // img{
        //     height: 200px;
        // }
    
 
    // nav:nth-last-of-type(1){
    //     background: $relleno_nav_li;
    //     opacity: .2;
    // }
}
.Flores1{
    // object-fit: scale-down;
    position: absolute;
    bottom: .2em;
    left: 200px;
    width: 100%;
    z-index: 1;
    
    @media only screen and (max-width: 500px)  {
        bottom: -55px;
    }
}
.Flores2{
    // object-fit: scale-down;
    position: absolute;
    bottom: 2.5em;
    left: -100px;
    width: 100%;
    z-index: 1;
    
    @media only screen and (max-width: 500px)  {
        bottom: -55px;
    }
}
.Flores3{
    // object-fit: scale-down;
    position: absolute;
    bottom: 7em;
    left: 800px;
    width: 100%;
    z-index: 1;

    @media only screen and (max-width: 500px)  {
        bottom: -55px;
    }
}
.Flores4{
    // object-fit: scale-down;
    position: absolute;
    bottom: 2.5em;
    left: 1080px;
    width: 100%;
    z-index: 1;

    @media only screen and (max-width: 500px)  {
        bottom: -55px;
    }
}


nav{
    @include normal;
    @include diseño-hija;
    // height: 2.3em;
    text-align: center;
    /* background: red; */
    background: $relleno_nav;
    ul{
        li{
            @include diseño-hija;
            display: inline-block;
            // float: right;
            padding: 0.5em;
            margin: 0 0.7em;
            transition: all;
            transition-duration: .5s;
            &:hover, &:active, &:focus{
                transition-timing-function: ease;
                cursor: pointer;
                color: $colo_menu;
                background: $relleno_nav_li;
                opacity: .8;
            }
            @media only screen and (max-width: 500px)  {
                margin: 0 -.2em;
                display: block;
            }
        }
        a{
            text-decoration: none;
            color: $colo_menu_defaul;
            &:hover{
                color: $colo_menu;
            }
        }
        
    }
}

aside{
    @include normal;
    @include diseño-hija;
    /* background: red; */
    background: $relleno_aside;
}
section{
    @include diseño-padre;
    @include negrita;
    @include Mostrar(Mostrar);
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin: .4em 0;
    padding: .7em .9em;
    /* background: red; */
    background: $relleno_section;
    position: fixed;
    top: 6.7em;
    width: 30%;
    margin-right: .5%;
    left: -35em;
    
    // left: 0;
    ul{
        li{
            // background: red !important;
            display: block;
            margin: .7em;
        }
    }
    header{
        @include normal;
        @include diseño-hija;
        position: static;
        height: 10px!important;
        /* background: red; */
    }
    aside{
        /*Adaptar nuesto contemido*/
            // padding: 50px 0;
            // padding: .7em;
            position: relative;
            width: 99.4%;
            height: 250px;
            overflow: hidden;
            /* background: red; */
            img{
                position: absolute;
                left: 0;
                right: 0;
                padding: .7em 0;
                z-index: -1;
                width: 60%;
                // height: 100%;
            }
    }
    div{
        @include normal;
        @include diseño-hija;
        background: $relleno_div;
    
        p{
            @include normal;
            @include diseño-hija;
            width: 500px !important;
            height: 350px;
        // overflow: hidden;
            position: relative;
            background: $relleno_p;
        // padding: 0 15em;
            img{
                object-fit: scale-down;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
            }
        @media only screen and (max-width: 500px)  {
            width: 100% !important;
            height: none !important;
            img{
                object-fit: scale-down !important;
                object-position: 0 -40px;

                // object-position: 10px;
                width: 100%;
                height: 100%;
                position: relative;
                left: 0;
                
            }
        }
    }
    }
    
    article{
        @include negrita;
        @include diseño-padre;
        
        margin: .7em .0;
        padding: .7em .0;
        background: $relleno_article;
        header{
            margin: .5em 0;
            @include negrita;
            height: 30px!important;
        }
        @media only screen and (max-width: 500px)  {
            padding-left: .7em;
            padding-right: .7em;
        }
    }
    @media only screen and (max-width: 500px)  {
        display: none !important;
    }
}
article div{
    margin: 0;
    padding: .7em 0;
    display: inline-block;
    vertical-align: top;
    font-size: 2em;  
    width: 95.8%;
    @media only screen and (max-width: 500px)  {
        width: 100%;
    }
}
article header, 
article aside,
article p,
article footer{
    margin: 0;
    padding: .7em 0;
    display: inline-block;
    vertical-align: top;
      
    width: 95.8%;
    @media only screen and (max-width: 500px)  {
        width: 100%;
    }
}

footer{
    @include negrita;
    @include diseño-padre;
    position: fixed;
    left: 0;
    @include MostrarBanner(footerAnimacion);
    bottom: -3em;
    width: 100%;
    text-align: center;
    background: $relleno_footer;
    padding: .7em 0;
    ul{
        li{
            display: inline-block;
        }
        li:nth-last-child(odd){
            @include normal;
        }
        li:nth-of-type(4){
            a{
                color: $whatsapp;
            }
        }
        @media only screen and (max-width: 500px)  {
            li:nth-last-child(even),
            li:nth-of-type(2),
            li:nth-of-type(4){
                display: none;
            }
        }
    }
    a{
        text-decoration: none;
    }
    @media only screen and (max-width: 500px)  {
        z-index: 10;
        left: none !important;
        bottom: 0 !important;
        width: 100% !important;
    }
}
.Caja{
    position: absolute;
    padding-bottom: 7em;
    top: 1em;
    right: 0;
    z-index: -1;
    width: 64.5%;
    @media only screen and (max-width: 500px)  {
        position: relative !important;
        top: -65px !important;
        left: -2px !important;
        width: 100% !important;
        height: 100vh !important;
        z-index: 5 !important;
    }
}
.noticias{
    @include diseño-padre;
    position: relative !important;
    display: inline-block;
    top: 4.2em;
    @include Mostrar(MostrarLateral, .2s);
    left: 100em;
    width: 96%;
    margin-left: .5%;
    
    aside{
        @include diseño-hija;
        display: inline-block;
        margin: 0;
        width: 35%;
        height: 100%;
        iframe{
            width: 100%;
            height: 500px;
        }
        @media only screen and (max-width: 500px)  {
            width: 100%;
        }
    }
    article:nth-of-type(1){
        div:nth-of-type(1){
            @include diseño-hija;
            display: inline-block;
            width: 60%;
            text-align: justify;
            @media only screen and (max-width: 500px)  {
                width: 100%;
            }
        }
    }
    article:nth-of-type(2){
        div{
            @include negrita;
        }
        footer{
            position: relative;
        }
        p{
            text-align: justify; 
        }
    }
    footer{
        @include normal;
        @include diseño-hija;
        position: sticky;
        display: inline-block;
        width: 95.8%;
        background: none !important;
        p{ 
            @include normal;
            @include diseño-hija;
            width: 500px !important;
            height: 250px;
                    // overflow: hidden;
            position: relative;
            background: $relleno_p;
                    // padding: 0 15em;
            img{
                object-fit: scale-down;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                }
            }
            @media only screen and (max-width: 500px)  {
                width: 100% !important;
                height: none !important;
                img{
                    position: relative !important;
                    left: 0;
                        }
                    }
    }
    @media only screen and (max-width: 500px)  {
        display: inline-block !important;
        width: 100% !important;
        left: 0;
        @include Mostrar(none);
        
    }
}
.noticias > header{
    width: 96.6%;
    @include negrita;
    @media only screen and (max-width: 500px)  {
        width: 99.4% !important;
        padding: 0.7em 0em !important;
    }
    /* background: red; */
}
.burbujaWhatsapp{
    position: fixed;
    cursor: pointer;
    right: 1em;
    bottom: 4em;
    border-radius: 100%;
    // background: $whatsapp;
    // box-shadow: 0px 0px 10px $whatsapp 0px 0px 10px $whatsapp 0px 0px 10px $whatsapp;
    @include Mostrar(parpadeo, 0s,infinite,alternate-reverse);
    width: 38px;
    height: 38px;
    z-index: 10;
}
.Dino1{
    position: fixed;
    bottom: 2.5em;
    left: 0%;
    width: 100%;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction:reverse;
    z-index: 5;
    animation-name: mover;
}
.Dino2{
    position: fixed;
    bottom: 2.5em;
    left: 0%;
    width: 100%;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction:reverse;
    animation-name: mover;
    z-index: 5;
}
.Dino3{
    position: fixed;
    bottom: 2.5em;
    left: 0%;
    width: 100%;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction:reverse;
    animation-name: mover;
    z-index: 5;
}
.Dino4{
    position: fixed;
    bottom: 2.5em;
    left: 0%;
    width: 100%;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction:reverse;
    animation-name: mover;
    z-index: 5;
}
.Pasto1{
    
    position: fixed;
    bottom: 2.5em;
    left: 0;
    width: 100%;
    z-index: 10;
    @media only screen and (max-width: 500px)  {
        bottom: -55px;
    }
    // img{
    //     height: 200px;
    // }

}
@keyframes mover{ 
    0%{
        left: 0%;
    }
    25%{
        left: 25%;
        z-index: 10;
    }
    50%{
        left: 50%;
    }
    75%{
        left: 75%;
        z-index: 10;
    }
    100%{
        left: 100%;
    }

}

@keyframes moverflores{ 
    100%{
        bottom: 100%;

    }
    90%{
        bottom: 90%;
    }
    85%{
        bottom: 85%;
    }
   

}
