@mixin MostrarBanner($animacion){
    animation-name: $animacion;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes headerAnimacion{
    0%{
        top: -5em;
    }
    100%{
        top: 0em;
    }
}
@keyframes footerAnimacion{
    0%{
        bottom: -3em;
    }
    100%{
        bottom: 0em;
    }
}