@mixin Mostrar($animacion,$demora:0s,$count:1,$direcion:normal){
    animation-name: $animacion;
    animation-duration: 1s;
    animation-delay: $demora;
    animation-iteration-count: $count;
    animation-timing-function: linear;
    animation-direction: $direcion;
    animation-fill-mode: forwards;
}
@keyframes Mostrar{
    0%{
        left: -35em;
    }
    25%{
        left: -34.8em;
    }
    50%{
        left: -23.2em;
    }
    75%{
        left: -11.6em;
    }
    100%{
        left: 0;
    }
}
@keyframes MostrarLateral{
    0%{
        left: 100em;
    }
    25%{
        left: 75em;
    }
    50%{
        left: 50em;
    }
    75%{
        left: 25em;
    }
    100%{
        left: 0em;
    }
}
@keyframes parpadeo{
    0%{
        box-shadow: 
        0px 0px 10px $whatsapp,
        0px 0px 10px $whatsapp,
        0px 0px 10px $whatsapp;
    }
    25%{
        box-shadow: 
        0px 0px 15px $whatsapp,
        0px 0px 15px $whatsapp,
        0px 0px 15px $whatsapp;
    }
    50%{
        box-shadow: 
        0px 0px 18px $whatsapp,
        0px 0px 18px $whatsapp,
        0px 0px 18px $whatsapp;
    }
    75%{
        box-shadow: 
        0px 0px 15px $whatsapp,
        0px 0px 15px $whatsapp,
        0px 0px 15px $whatsapp;
    }
    100%{
        box-shadow: 
        0px 0px 10px $whatsapp,
        0px 0px 10px $whatsapp,
        0px 0px 10px $whatsapp;
    }
}
